/* TODO Add site wide styles */
body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imageForm>button {
    position: relative;
    right: 83px;
    width: 87px;
}

#imageForm>* {
    margin: 5px 0;
}

img {
    max-width: 60vw;
}